{% extends "base.html" %}


{% block body %}
    <main>
        <h1 class="mdc-heading">Queries in Process</h1>

        <div class="outline">
            <dl>
              {% for result in results %}
                <dt>
                    <div class="loader{% if result.running() %} spin{% endif %}"></div>
                    <a href="/results/{{ loop.index - 1 }}">
                            {{ result }} ‣ {{ result._state }}
                    </a>
                </dt>
                <dd>{{ result[0] }}</dd>
              {% endfor %}
            </dl>
        </div>

        <button type="button"
                onclick="location.href='/'"
                data-mdc-auto-init="MDCRipple"
                class="mdc-button
                       mdc-button--raised
                       mdc-ripple-upgraded"
                style="--mdc-ripple-fg-size:69.3px;
                       --mdc-ripple-fg-scale:1.8900486336013747;
                       --mdc-ripple-fg-translate-start:21.6px, -6.116674804687499px;
                       --mdc-ripple-fg-translate-end:23.1px, -16.65px;"
            >
            <i class="material-icons mdc-button__icon">
                keyboard_arrow_left
            </i>
            Back to Start Page
        </button>
    </main>
{% endblock %}
